.container{
    width: 900px;
    height: 610px;
    margin:35px auto;
    
    }

.main{
    width: 300px;
    padding: 10px 50px 25px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    float:left;
    margin-top:50px;
    background-color: rgb(204, 252, 252);
}