
.main{
    margin-left: 50px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 20% 70%;
    width: 700px; 
    position: relative;
    display: inline-block;
}

.container {
    border: 1px solid black;
    background-color: pink;
    padding: 3px;
    width:35%;
    grid-column-start: 2;
}

input {
  border: 1px solid transparent;
  background-color: red;
  padding: 10px;
  font-size: 16px;
}

input[type="text"]{
    background-color: cyan;
    font-family: 'Courier New';
    font-weight: bold;
    padding: 5px;
}
.main-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

#result ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#result ul li {
    padding: 5px 0;
    cursor: pointer;
}

#result ul li:hover {
    background: darkgrey;
}